[data-md-color-scheme="mk-ore"] .md-header {
    background-color: #e6e8eb !important;
    color: #000000 !important;
    box-shadow: inset 0 -2px #000000, inset 0 -5px #b1b2b5 !important;
    padding-bottom: 5px;
}
[data-md-color-scheme="mk-ore"] .md-tabs {
    background-color: inherit;
    color: inherit;
}

[data-md-color-scheme="mk-ore"] .md-tabs__item--active a {
    text-decoration: underline;
    font-weight: 800;
}
[data-md-color-scheme="mk-ore"] .md-tabs__item--active a::before {
    content: '[';
    margin-right: 4px;
}
[data-md-color-scheme="mk-ore"] .md-tabs__item--active a::after {
    content: ']';
    margin-left: 4px;
}

[data-md-color-scheme="mk-ore"] .md-header .md-header__title .md-ellipsis {
    font-family: "Minecraft Ten", Unifont, sans-serif !important;
}
[data-md-color-scheme="mk-ore"] .md-header .md-header__title .md-ellipsis:nth-child(1) {
    /*font-size: 1rem !important;*/
}

/* 搜索 */
@media screen and (max-width: 60em) {
    [data-md-color-scheme="mk-ore"] .md-search__overlay {
        background-color: #48494a;
    }
}

[data-md-color-scheme="mk-ore"] .md-search input {
    border-radius: 0;
    border: none;
    color: #ffffff !important;
    background-color: #313233 !important;
    box-shadow: inset 0 3px #242425;
    outline: 2px solid #000000;
}
.md-search__input::placeholder {
    color: #b1b2b5;
}
[data-md-color-scheme="mk-ore"] .md-search .md-search__icon[data-md-component="search-share"] {
    scale: .75;
}

[data-md-color-scheme="mk-ore"] [data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon {
    color: #fff;
}

[data-md-color-scheme="mk-ore"] .md-search .md-search__options * {
    color: #fff;
}

[data-md-color-scheme="mk-ore"] .md-search-result__item {
    box-shadow: 0 -2px #5a5b5c;
}

[data-md-color-scheme="mk-ore"] .md-search__output {
    border-radius: 0;
    border: 2px solid #5a5b5c;
}
[data-md-color-scheme="mk-ore"] .md-search__output * {
    color: #fff;
}
[data-md-color-scheme="mk-ore"] .md-search .md-search__output .md-search__scrollwrap {
    background-color: #48494a;
}
[data-md-color-scheme="mk-ore"] .md-search-result__meta {
    background-color: #5a5b5c;
}
[data-md-color-scheme="mk-ore"] .md-search-result__more[open]>summary {
    background-color: #5a5b5c;
}

[data-md-color-scheme="mk-ore"] .md-search-result .md-typeset mark {
    color: #00ff6a;
}
[data-md-color-scheme="mk-ore"] .md-search-result .md-typeset h2 {
    color: #fff;
}

/* 回到顶部 */
[data-md-color-scheme="mk-ore"] .md-top {
    color: #000;
}

/* 图标 */
[data-md-color-scheme="mk-ore"] .md-header__inner > form > label:nth-child(2) > svg {
    visibility: hidden;
}
[data-md-color-scheme="mk-ore"] .md-header__inner > form > label:nth-child(2)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    --zoom: 1.65;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAADFBMVEUeHh8TDQv/pEBEOjB4PgItAAAANElEQVQI12NgQAH8oUDwAUaxRi2NWhoAp1aFhq5CUECxKAQVumpVKC4KVSWqKSg2oNqOAgAtty59F/NKiAAAAABJRU5ErkJggg==);
    width: calc(24px * var(--zoom));
    height: calc(24px * var(--zoom));
    background-size: calc(24px * var(--zoom)) calc(24px * var(--zoom));
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
[data-md-color-scheme="mk-ore"] .md-header__inner > label:nth-child(6) svg,
[data-md-color-scheme="mk-ore"] .md-header__inner > .md-search > div > form > label svg {
    visibility: hidden;
}
[data-md-color-scheme="mk-ore"] .md-header__inner > label:nth-child(6)::after,
[data-md-color-scheme="mk-ore"] .md-header__inner > .md-search > div > form > label {
    content: '';
    display: block;
    margin-top: 2px;
    --zoom: .86;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAACVJREFUCNdjYIAC5j8QzMMMwQYMB/BimDrmPwfAGKQDgnmgGAwAvSINsRNqBB0AAAAASUVORK5CYII=);
    width: calc(24px * var(--zoom));
    height: calc(24px * var(--zoom));
    background-size: calc(24px * var(--zoom)) calc(24px * var(--zoom));
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

@media screen and (max-width: 60em) {
    [data-md-color-scheme="mk-ore"] .md-header__inner > form > label:nth-child(2)::after {
        top: 6px;
        left: 6px;
        --zoom: 1.1;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGhJREFUSInlld0KABAMRpH3f2VukKb5mdlWTrmRre804twPpLJIBMYg15BMTBjA5EcmqgarpFsmKgant2V6XtTg6sVi9c8NPEjA1avx3CAy9IDJU78vOgOYgFI7oGJQwUy2kldM/Ae2yVJLGAm2PtmcAAAAAElFTkSuQmCC);
    }
    [data-md-color-scheme="mk-ore"] .md-header__inner > label:nth-child(6)::after {
        position: absolute;
        margin-top: -58%;
        --zoom: .98;
        filter: brightness(0);
    }
}

/*[data-md-color-scheme="mk-ore"] .md-header__inner > label:nth-child(6),*/
